@font-face {
    font-family: warnock-pro;
    src: url('../fonts/WarnockPro-Bold.otf');
}
@font-face {
    font-family: warnock-pro-it;
    src: url('../fonts/WarnockPro-It.otf');
}
@font-face {
    font-family: europa-regular;
    src: url('../fonts/apercu-regular.woff');
}

@import url('https://fonts.googleapis.com/css?family=Raleway&subset=latin-ext');



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*override bootstrap*/
.text-muted{color:#999999;}
hr.black{border-top: 1px solid #000;}
.navbar-brand{padding:20px 15px 20px 40px;}
.navbar-brand, .navbar-nav > li > a{text-shadow:none;}
.navbar-fixed-top{z-index:99;}


body{
  padding-top:110px;
  padding-bottom:20px;
  font-size:15px;
  line-height: 1.3em;
  color: #000000;
  font-family: europa-regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:normal;
  font-weight:400;
}
#main-overlay{
  background:rgba(255,255,255,0.5);
  display:none;
  position:absolute;
  top:0;left:0;
  width: 100%;
  height: 100%;
  z-index:100;
}
.navbar{
  background: rgba(255,255,255,.88);
  min-height: 110px;
}
.navbar-header{
  width:100%;
  position:relative;
}
#main_menu{
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 1000;
}
@media (min-width: 768px){
  #main_menu{
    top: 30px;
  }
}

/*general*/
a, a:visited, a:hover, a:active, a:focus{
  outline: 0;
  color: #000;
  text-decoration: none;
}

a.text-muted,
a.text-muted:visited,
a.text-muted:hover,
a.text-muted:active,
a.text-muted:focus{
  text-decoration: underline;
}


img, embed, object, video{
  width: auto;
  max-width: 100%;
}
img.fullwidth{
  width: 100%;
}

h1,h2,h3,
.h1,.h2,.h3{
  font-family: warnock-pro,serif;
  line-height:1.15;
}
h1.cursive,h2.cursive,h3.cursive,
.h1.cursive,.h2.cursive,.h3.cursive{
  font-family: warnock-pro-it, serif;
}
h1.cursive,h2.cursive,h3.cursive,
.h1.cursive,.h2.cursive,.h3.cursive{
  font-family: warnock-pro-it;
}

/* with right line and break line*/
h1{
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
h1 span{
  position: relative; 
  width:35px;
  margin-left:10px;
}
h1 span:before{
  content: "";
  position: absolute;
  border-bottom: 4px solid black;
  top: 20px;
  width: 35px;
}
h1 span:after{
  content:"\A";
  white-space: pre;
}

h2,
.h2{
  font-size: 30px;
}

h3{
  font-size: 24px;
}

/*fixed top position title - for large screen*/
h3.header_title{
  position:fixed;
  top: 0;
  left: 0;
  margin-top: 35px;
  margin-bottom: 0;
  z-index: 100;
  font-family: 'warnock-pro-it', serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  height: 1px;
  overflow: visible;
  width: 100%;
}
h3.header_title span{
  display: inline-block;
  width: 45px;
}
@media (min-width: 768px){ 
  h3.header_title{
    position:fixed;
    top:0;
    left:0px;
    margin-top:35px;
    margin-bottom: 0;
    z-index:100;
    font-size: 24px;
  }
}

h4, .h4{
  font-size: 12px;
  font-family: europa-regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
h5, .h5{
  font-family: europa-regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 15px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.list{
  list-style-type: disc;
  padding: 5px 15px;
  margin-left: 10px;
}
ul.list li{
  padding: 3px 0;
}
p{
  line-height: 1.7em;
}

.inline-block{display:inline-block;}
.block{display:block;}
.valign{position:relative;top:50%;transform: translateY(-50%);margin:0;}

.m-t-large{margin-top: 35px;}
.m-t-med{margin-top: 25px;}
.m-t-small{margin-top: 15px;}
.m-t-xs{margin-top: 5px;}
.m-b-large{margin-bottom: 35px;}
.m-b-med{margin-bottom: 25px;}
.m-b-small{margin-bottom: 15px;}


/*.site-main{margin-top: 50px;}*/

section{margin: 30px 0;}


/*elements*/
blockquote{
  font-family:warnock-it,serif;
  font-size:30px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.3em;
  position:relative;
  margin:70px auto 50px;
  text-align:center;
  border-left: none;
  max-width: 700px;
}
blockquote:before {
  display: block;
  clear: both;
  content: "";
  position: relative;
  left: 0;
  top: -20px;
  max-width: 250px;
  height: 1px;
  width: 50%;
  border-bottom: 1px solid #000;
  margin: 0 auto;
  padding: 0px;
}

.vertical-text{
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);

  -ms-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
}
.fixed-right-top{position:fixed;right:10px;top:140px;z-index:99;}
@media (min-width: 768px){ 
  .fixed-right-top{right:40px;top:140px;}
}


/*posts*/
article{
  display: block;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  position: relative;
}
article h3{
  font-family: warnock-pro,serif;
  font-size: 24px;
  margin: 35px 0 20px;
}
article p{
  font-size: 16px;
  text-align: justify;
}

.main-article{
  text-align: center;
}
.main-article h4{
  margin-top: 35px;
}



/*footer*/
footer{padding:30px 0;}
#socials{text-align: center;margin:10px 0;padding:0;}
#socials li{display: inline-block;margin: 0px 10px;padding:5px 20px; color: #999;font-weight: 500;font-size: 12px; font-family: europa-regular;}
#socials li span{color: #333;font-weight: bold;}


/* general queries*/
@media (max-width: 767px){
  .block-xs{
    display: block !important;
  }
  h1{
    font-size: 28px;
  }
  h2,.h2{
    font-size: 26px;
  }
  #socials li{
    padding: 5px 0;
  }
  .navbar-brand{
    padding-left: 20px;
  }
  .navbar-brand img{
    width: 50px;
  }
}




