@font-face {
    font-family: warnock-pro;
    src: url('../fonts/WarnockPro-Bold.otf');
}
@font-face {
    font-family: warnock-pro-it;
    src: url('../fonts/WarnockPro-It.otf');
}
@font-face {
    font-family: europa-regular;
    /*src: url('./fonts/europa-regular.woff');*/
    src: url('../fonts/apercu-regular.woff');
}

/*@font-face {
    font-family: europa-regular;
    src: url('./fonts/apercu-regular.woff');
}*/
/*@font-face {
    font-family: apercu-bold;
    src: url('./fonts/apercu-bold.woff');
}*/



/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*override bootstrap*/
.text-muted{color:#999999;}
.navbar-brand{padding:20px 15px 20px 40px;}
.navbar-brand, .navbar-nav > li > a{text-shadow:none;}
.navbar-fixed-top{z-index:99;}

.btn-default,.btn-primary,.btn-success,.btn-info,.btn-warning,.btn-danger{
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn{
  font-family: europa-regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid black;
      border-top-color: black;
      border-right-color: black;
      border-bottom-color: black;
      border-left-color: black;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-default{
  background-image: none;
  background:#FFFFFF;
  border-color: #000000;
}
.btn-default:hover,.btn-default:focus{
  border-color: #000000;
  background-color:#000000;
  color:white;
}
.btn-lg{
  padding: 15px 50px;
  font-size: 12px;
  line-height: 1.3333333;
  border-radius: 0;
}

/*.m-t-large{margin-top:35px;}
.m-t-med{margin-top:25px;}
.m-t-small{margin-top:15px;}
.m-b-large{margin-bottom:35px;}
.m-b-med{margin-bottom:25px;}
.m-b-small{margin-bottom:15px;}*/

body{
  padding-top:100px;
  padding-bottom:20px;
  font-size:15px;
  line-height: 1.3em;
  color: #000000;
  font-family: europa-regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:normal;
  font-weight:400;
}
#main-overlay{
  background:rgba(255,255,255,0.5);
  display:none;
  position:absolute;
  top:0;left:0;
  width: 100%;
  height: 100%;
  z-index:100;
}
.navbar{
  background: rgba(255,255,255,.88);
  min-height: 110px;
}
.navbar-header{
  width:100%;
  position:relative;
}
#main_menu{position:absolute;top:30px;right:0;z-index:1000;}


/*general*/
a, a:visited, a:hover, a:active, a:focus{outline:0;color:#000;text-decoration:none;}
img, embed, object, video{max-width: 100%;}
h1{font-family: warnock-pro,serif;font-size: 42px;font-style: normal;font-weight: 500;text-align: center;}
h1 span{position: relative; width:35px;margin-left:10px;}
h1 span:before{content: "";position: absolute;border-bottom: 4px solid black;top: 20px;width: 35px;}
h1 span:after{content:"\A";white-space: pre;}

h3{font-family: warnock-pro,serif;font-size: 24px;}
h3.header_title{font-family: warnock-pro-it,serif; font-style: normal;font-weight: normal;font-size: 24px; margin-top:35px;text-align: center;}
h3.header_title span{display:inline-block;width:45px;}

h4{font-size: 12px; font-family: europa-regular;text-transform: uppercase;text-align: center;}


/*layout TODO: FOR min-width: 768px */
.site-main{margin-top:50px;}
/*@media (min-width: 1170px) {
  .middle-inner{ 
    display:flex;
    align-items:center;
  }
}*/


/*elements*/
blockquote{
  font-family:warnock-it,serif;
  font-size:30px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.3em;
  position:relative;
  margin:70px auto 50px;
  text-align:center;
  border-left: none;
}
blockquote:before {
  content : "";
  position: absolute;
  left: 40%;
  top: -12px;
  height: 1px;
  width: 200px;
  border-top:1px solid black;
}


/*pages*/
section{margin: 30px 0;}
section.quote{
  max-width:500px;
  margin:30px auto;
  text-align: justify;
  line-height: 1.7em;
}



/*posts*/
article{display:block;max-width:500px;margin:10px auto;padding:10px;text-align: center;}
article h3{font-family: warnock-pro,serif;font-size: 24px;margin:35px 0 20px;}
article p{font-size:16px;text-align: justify;}

.main-article{text-align: center;}
.main-article h4{margin-top:35px;letter-spacing: 2px;font-weight:bold;}




/*footer*/
footer{padding:30px 0;}
#socials{text-align: center;margin:10px 0;padding:0;}
#socials li{display: inline-block;margin: 0px 10px;padding:5px 20px; color: #999;font-weight: 500;font-size: 12px; font-family: europa-regular;}
#socials li span{color: #333;font-weight: bold;}






