/*main_menu_button*/
.cd-nav-trigger {
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  z-index:1000;
}
@media (min-width: 768px){
  .cd-nav-trigger {
    margin-right: 40px;
  }
}
.cd-nav-trigger span{
  position: absolute;
  right: 5px;
  display: inline-block;
  height: 2px;
  width: 24px;
  background: #000000;
}
.cd-nav-trigger span:first-child {
  top: 14px;
}
.cd-nav-trigger span:nth-child(2) {
  top: 20px;
  right:0px;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
  transition: background 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}
.cd-nav-trigger span:last-child {
  top: 26px;
}
.cd-nav-trigger span:first-child, .cd-nav-trigger span:last-child {
  content: '';
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -moz-transform 0.6s;
  transition: transform 0.6s;
}

.cd-nav-trigger:hover span:nth-child(2){
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}

.cd-nav-trigger.nav-is-visible span:nth-child(2) {
  background: rgba(255, 255, 255, 0);
}
.cd-nav-trigger.nav-is-visible span:first-child, .cd-nav-trigger.nav-is-visible span:last-child {
  background: #000000;
}
.cd-nav-trigger.nav-is-visible span:first-child {
  -webkit-transform: translateX(4px) translateY(-2px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-2px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-2px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-2px) rotate(45deg);
  transform: translateX(4px) translateY(-2px) rotate(45deg);
}
.cd-nav-trigger.nav-is-visible span:last-child {
  -webkit-transform: translateX(4px) translateY(7px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(7px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(7px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(7px) rotate(-45deg);
  transform: translateX(4px) translateY(7px) rotate(-45deg);
  width:28px;
}


/*slide MAIN menu*/
#main_sidebar_menu {
  text-align: right;
  height: 100%;
  width: auto;
  position: fixed;
  top: 0;
  right: -500px;
  z-index: 100;
  background:#FFFFFF;
  overflow-x: hidden;
  padding-top: 100px;
  transition: 0.5s;
}

#main_sidebar_menu.visible{
  right: 0;
}
@media (min-width: 768px){
  #main_sidebar_menu.visible{
    width: 500px;
    padding-right: 45px;
  }
}
@media (max-device-width: 568px){
  #main_sidebar_menu.visible{
    width: 100%;
  }
}

#main_sidebar_menu a{
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
}
#main_sidebar_menu .group1 li{
  float:none;
  display:block;
}
#main_sidebar_menu .group1 a.big{
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
  text-align: right;
  text-transform: none;
  font-weight: 700;
}
#main_sidebar_menu .group1 a.big span{
  height:2px;
  top: -5px;
}
#main_sidebar_menu .group1 .submenu{
  display: none;
}
#main_sidebar_menu .group1 a.big.active ~ .submenu{
  display: block;
}

#main_sidebar_menu .group23{
  padding: 30px 40px 0 0;
}
#main_sidebar_menu .group4{
  min-width:250px;
  margin-right: 45px;
  margin-top: 30px;
}
#main_sidebar_menu .group4 .follow{
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  top: 1px;
  letter-spacing: 2px;
}

/*bottom links*/
#main_sidebar_menu ul li{
  display: inline-block;
}
#main_sidebar_menu ul li a{
  display: block;
}
#main_sidebar_menu ul li a:last-child{padding-right:0;}

#main_sidebar_menu ul.group2{
  display: block;
  position: relative;
  top: 30px;
}
#main_sidebar_menu ul.group2 li a{
  padding: 10px 4px;
}
#main_sidebar_menu ul.group3{
  display: block;
  margin-left: 10px;
  position: relative;
  top: -30px;
}
#main_sidebar_menu ul.group3 li a{
  padding-left: 10px;
}



@media (min-width: 768px){
  #main_sidebar_menu {
    padding-top: 200px;
  }
  #main_sidebar_menu .group1 a.big{
    margin-bottom: 15px;
  }
  #main_sidebar_menu .group23{
    padding: 100px 40px 0 0;
  }
  #main_sidebar_menu ul.group2{
    display: inline-block;
    margin-right: 0;
    position: relative;
    top: 0;
  }
  #main_sidebar_menu ul.group3{
    display: inline-block;
    position: relative;
    top: 0;
  }
}



/*LEFT MENU pages - with hover line buttons*/
.menu-wrapper h3{
  font-family: "warnock-pro-it", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px; 
  margin-bottom:20px;
}
.left-menu{
  position:relative;
  left:-30px;
}
.left-menu li{
  padding:9px 0;
}
.left-menu.bottom li{
  padding:5px 0;
}
.left-menu.bottom li a{
  text-transform: none;
  font-size:16px;
  font-weight:normal;
}



/* AUTH MENU */
/* AUTH MENU */
#auth_menu_toggle{
  position: absolute;
  top: 30px;
  right: 0;
}
#auth_menu{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: rgba(255,255,255,0.9);
  padding-top: 80px;
  transition: 0.5s;
  overflow: auto;
}
#auth_menu .form-group{
  margin-bottom: 10px;
}
#auth_menu .h2{
  margin-bottom: 15px;
}
#auth_menu{
  display: none;
  visibility: hidden;
}
#auth_menu.visible{
  display: block;
  visibility: visible;
}



/* FILTER MENU */
#filter_menu_toggle{position:absolute;top:30px;right:0;}
#filter_menu {
  text-align: right;
  height: 100%;
  width: auto;
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 100;
  background: #FFFFFF;
  overflow: auto;
  padding: 110px 0 0;
  transition: 0.5s;
}
#filter_menu.visible{
  right: 0;
}

#main_filter_menu{
  padding-right: 70px;
  padding-left: 70px;
}
#main_filter_menu ul li{
  padding: 0;
  margin: 20px 0;
}
#main_filter_menu ul li a,
#main_filter_menu ul li a:visited,
#main_filter_menu ul li a:focus,
#main_filter_menu ul li a:active{
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:13px; font-weight: bold;
  display:block;text-transform:uppercase;
  padding-right:30px;
  background: url('../../img/icons/check_off.png') no-repeat scroll center right;
  letter-spacing: 2px;
}
#main_filter_menu ul li a:active,
#main_filter_menu ul li a.focus,
#main_filter_menu ul li a.active{
  background: url('../../img/icons/check_on.png') no-repeat scroll center right;
}

#main_filter_menu.no-check{
  padding-right: 20px;
}
#main_filter_menu.no-check ul li a,
#main_filter_menu.no-check ul li a:visited,
#main_filter_menu.no-check ul li a:active,
#main_filter_menu.no-check ul li a.focus,
#main_filter_menu.no-check ul li a.active{
  background: none;
  padding-right:none;
}


/* cos menu */
#cos_menu_toggle{position:absolute;top:30px;right:0;}
#cos_menu{
  height: 100%;
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: rgba(255,255,255,1);
  padding: 120px 40px 0 30px;
  transition: 0.5s;
  overflow: auto;
}
#cos_menu{
  display: none;
  visibility: hidden;
}
#cos_menu.visible{
  display: block;
  visibility: visible;
}
#cos_menu .cos_info_table{
  width: auto;
}
#cos_menu .cos_info_table td{
  padding: 5px 20px 5px 0;
  font-family: "europa", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
}
#cos_menu p{
  color: #777;
}
@media (min-width: 768px){
  #cos_menu{
    min-width: 450px;
    padding: 120px 0px 0 50px;
  }
  #cos_menu .cos_info_table{
    width: 100%;
  }
}
@media (max-device-width: 568px){
  #cos_menu{
    width: 100%;
  }
  #cos_menu .cos_info_table{
    width: 100%;
  }
}


