/*pages*/
section.quote{
  max-width:500px;
  margin:30px auto;
  text-align: justify;
  line-height: 1.7em;
}

.exclusive-brands-list{
  width: 500px;
  margin: 30px auto;
  padding-left: 25px;
}
.exclusive-brands-list li{
  margin: 22px 0;
  text-align: center;
}
.exclusive-brands-list li a,
.exclusive-brands-list li a:visited,
.exclusive-brands-list li a:hover,
.exclusive-brands-list li a:focus,
.exclusive-brands-list li a:active{
  font-size: 13px;
  letter-spacing: 2px;
  font-family: europa-regular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  display:block;
  padding:0px;
  text-decoration: none;
  text-transform: uppercase;
}
