/*pages*/
section.quote{
  max-width:530px;
  margin:50px auto;
  padding: 0 20px;
}
section.quote.wide{
  max-width: 730px;
  padding: 0;
}
/*@media only screen and (max-width: 480px){
  section.quote.wide{
    section.quote.wide{
      margin-left: -15px;
      margin-right: -15px;
    }
  }
}*/


.section_title{
  font-size: 16px;
  letter-spacing: 3px;
  font-family: 'europa-regular',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  line-height: 2em;
  margin:50px 0 25px;
}

.exclusive-brands-list{
  width: 500px;
  margin: 30px auto;
  padding-left: 25px;
}
.exclusive-brands-list li{
  margin: 22px 0;
  text-align: center;
}
.exclusive-brands-list li a,
.exclusive-brands-list li a:visited,
.exclusive-brands-list li a:hover,
.exclusive-brands-list li a:focus,
.exclusive-brands-list li a:active{
  font-size: 13px;
  letter-spacing: 2px;
  font-family: 'europa-regular',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  display:block;
  padding:0px;
  text-decoration: none;
  text-transform: uppercase;
}

/*contact page*/
.contact-social-item{
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-social-item .h4{
  font-size:13px;
}
.contact-social-item .h2{
  font-family: warnock-pro-it, serif;
}
@media (min-width: 768px){ 
  .contact-social-item{
    margin-top: 50px;
    margin-bottom: 10px;
  }
}


/* contul meu */
.h2line{
  margin-top: 26px;
  margin-bottom: 24px;
  font-size: 23px;
}
.contulmeu_selector_wrapper{
  margin-top: 15px;
  padding: 5px 0;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
#dropdownSelectAcc{
  width:250px;
  padding-right: 20px;
  background: url('../../img/icons/carret.png') no-repeat scroll center right;
}
.dropdown_select{
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.dropdown-menu.static{
  position: static;
}
.dropdown_select li{
  margin-bottom: 10px;
}
.dropdown-menu > li > a[aria-expanded="true"]{
  display:none;
}
.dropdown-menu > li > a.line-link{
  padding-left: 0;
}
.dropdown-menu > li > a.line-link:hover{
  background: none;
}
#contulmeu_date_personale,
#contulmeu_favorite{
  margin-top: 87px;
}
#contulmeu_comenzi{
  position: relative;
  top: -5px;
}
#contulmeu_date_personale input{
  font-size: 15px;
}
#contulmeu_favorite h3,
#contulmeu_comenzi h3{
  font-size: 24px;
  margin-bottom:0px;
}
#contulmeu_favorite .price,
#contulmeu_comenzi .price{
  font-size: 16px;
  font-family: 'europa-regular',"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 15px;
}
#contulmeu_comenzi .item{
  margin-bottom: 10px;
  padding-bottom: 20px;
  padding-top: 30px;
  border-bottom: 1px solid #AAA;
}
#contulmeu_comenzi .comanda{
  font-size: 24px;
  font-family: 'warnock-pro', serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 25px;
  vertical-align: baseline;
}
#contulmeu_comenzi .status,
#contulmeu_comenzi .data,
#contulmeu_comenzi .pret{
  font-family: 'europa-regular',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#contulmeu_comenzi .data,
#contulmeu_comenzi .pret{
  color: #AAA;
}
#contulmeu_comenzi .status{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: right;
  line-height: 25px;
  vertical-align: baseline;
}
#contulmeu_favorite .btn-lg{
  padding: 15px 20px;
  min-width:150px;
}
.form_note{
  border-top: 1px solid #CCC;
  margin: 10px 0;
}
.form_note p{
  font-family: 'europa-regular',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  font-weight: normal;
  color: #999;
  margin: 10px 0;
}



/* general queries*/
@media (max-width: 767px){
  section.quote.wide{
    margin-left: -15px;
    margin-right: -15px;
  }
}
