/*pages*/
section.quote{
  max-width:530px;
  margin:30px auto;
}

/*contact page*/
.contact-social-item{
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-social-item .h4{
  font-size:13px;
}
.contact-social-item .h2{
  font-family: warnock-pro-it, serif;
}
@media (min-width: 768px){ 
  .contact-social-item{
    margin-top: 50px;
    margin-bottom: 10px;
  }
}