body.home{
  padding-top: 0;
}
body.home .navbar{
  background: none;
}

.bs-slider{
  overflow: hidden;
  position: relative;
  background: #F5F5F5;
}
.bs-slider:hover {
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.bs-slider:active {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.50);
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
  margin: 0 0 0 auto;
  width: 40%;
}

/********************
*****Slide effect
**********************/

.fade {
  opacity: 1;
}
.fade .item {
  top: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0 !important;
  display: block !important;
  -webkit-transition: all ease-in-out 1.2s;
  -moz-transition: all ease-in-out 1.2s;
  -ms-transition: all ease-in-out 1.2s;
  -o-transition: all ease-in-out 1.2s;
  transition: all ease-in-out 1.2s;
}
.fade .item .slide-ctrl{
  display: none;
  visibility: hidden;
}
.fade .item:first-child {
  top: auto;
  position: relative;
}
.fade .item.active {
  opacity: 1;
  z-index: 2;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
}
.fade .item.active .slide-ctrl{
  display: block;
  visibility: visible;
}
.fade .item.shaded{
  opacity: 0.2;
}

/* overwrite animate */
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0.3;
    -webkit-transform: translate3d(-95%, 0, 0);
    transform: translate3d(-95%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0.3;
    -webkit-transform: translate3d(-95%, 0, 0);
    transform: translate3d(-95%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
  top: 47%;
  opacity: 0;
  width: 45px;
  height: 45px;
  z-index: 100;
  color: #ffffff;
  display: block;
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
  line-height: 43px;
  text-shadow: none;
  position: absolute;
  font-weight: normal;
  background: transparent;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.control-round:hover .carousel-control{
  opacity: 1;
}
.control-round .carousel-control.left {
  left: 1%;
}
.control-round .carousel-control.right {
  right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
  color: #fdfdfd;
  background: rgba(0, 0, 0, 0.5);
  border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
  left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
  right: 45%;
}



/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
  right: 45%;
  bottom: 3%;
  left: auto;
  width: 90%;
  height: 20px;
  font-size: 0;
  overflow-x: auto;
  text-align: right;
  overflow-y: hidden;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  white-space: nowrap;
}
.indicators-line > .carousel-indicators li{
  padding: 0;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(158, 158, 158);
  text-indent: 0;
  overflow: hidden;
  text-align: left;
  position: relative;
  letter-spacing: 1px;
  background: rgb(158, 158, 158);
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 5px;
  -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
  z-index: 10;
  cursor:pointer;
}
.indicators-line > .carousel-indicators li:last-child{
  margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
  margin: 1px 5px 1px 1px;
  box-shadow: 0 0 0 2px #fff;
  background-color: transparent;
  position: relative;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
  transform: scale(0.5);
  background-color: #fff;
  content:"";
  position: absolute;
  left:-1px;
  top:-1px;
  width:15px;
  height: 15px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}



/*---------- SLIDE CAPTION ----------*/
.slide_no{
  position: absolute;
  top: 30px;
  right: 43%;
  transform: rotate(-90deg);
  transform-origin: right top;
  font-size: 12px;
  color: #999999;
}
.slide_no span{
  color: #000;
}

.item .slide-text {
  position: absolute;
  left: -100%;
  right: auto;
  top: 35%;
  width: 50%;
  margin: auto;
  padding: 10px;
  overflow: visible;
}
.item.shaded .slide-text {
  right: -7%;
}
.item.active .slide-text{
  left: 0;
  right: 0;
}
.slide-text p.h1,
.slide-text p.h2,
.slide-text p.h3{
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
  font-size: 70px;
  line-height: 1em;
  text-align: left;
  white-space: nowrap;
}
.slide-text p.h1 span,
.slide-text p.h2 span,
.slide-text p.h3 span{
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: 3px;
  background: #000;
  width:65px;
  margin-right: 10px;
}

.slide-text p.h1 span:after,
.slide-text p.h2 span:after,
.slide-text p.h3 span:after{
  content:"";
}

.slide-text > p.h1 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.slide-text > p.h2 {
  padding-left: 60px;
  -webkit-animation-delay: 0.35s;
  animation-delay: 0.35s;
}
.slide-text > p.h3 {
  padding-left: 60px;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.slide-ctrl .right_control,
.slide-ctrl .explore_now{
  position: absolute;
  top: calc(35% + 300px);
  background: transparent;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-ctrl .explore_now{
  left: calc(25% + 70px);
}






/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
  .slide_no{
    right: 50%;
  }
  .bs-slider .bs-slider-overlay {
    top: 60%;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .bs-slider > .carousel-inner > .item > img,
  .bs-slider > .carousel-inner > .item > a > img {
    margin: 0;
    width: 100%;
  }

  .item .slide-text{
    top: 70%;
    width: 60%;
  }
  .slide-text p.h1,
  .slide-text p.h2,
  .slide-text p.h3{
    font-size: 60px;
  }
  .slide-ctrl .right_control,
  .slide-ctrl .explore_now{
    top: calc(70% + 200px);
  }
  .slide-ctrl .explore_now{
    left: calc(20% + 70px);
  }

}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
  .item .slide-text{
    width: 70%;
  }
  .slide-text p.h1,
  .slide-text p.h2,
  .slide-text p.h3{
    font-size: 44px;
  }
  .slide-ctrl .right_control{
    top: calc(60% + 13px);
    left: 20px;
  }
  .slide-ctrl .explore_now{
    top: auto;
    left: 20px;
    bottom: 10px;
  }
}
@media  (max-width: 480px) {
  .item .slide-text{
    top: 70%;
    width: 96%;
  }
  .slide-text p.h1,
  .slide-text p.h2,
  .slide-text p.h3{
    font-size: 27px;
    padding-left:0;
  }
}
